# Default values for alertmanager-discord.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

#########
## APLICATION
######

image: masgustavos/alertmanager-discord:0.2.2
imagePullPolicy: IfNotPresent
imagePullSecrets: []

env: {}

# -- See https://github.com/masgustavos/alertmanager-discord/blob/master/config.example.yaml
config: {}

# -- If you don't want to expose your webhooks, create the config as a secret with the key "config"
configAsSecret:
  {}
  # name: alertmanager-discord-secret

#########
## SCHEDULING
######

resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

tolerations: []

nodeAffinity: {}

podAnnotations: {}

#########
## MONITORING
######

livenessProbe:
  path: /
  initialDelaySeconds: 15
  periodSeconds: 30
  timeoutSeconds: 10
  successThreshold: 1
  failureThreshold: 3

readinessProbe:
  path: /
  initialDelaySeconds: 15
  periodSeconds: 30
  timeoutSeconds: 10
  successThreshold: 1
  failureThreshold: 6

#########
## CONNECTIVITY
######

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: false
  annotations: {}
  hosts: []

  paths:
    "/": {}
    # '/other': {}

  tls: []
  # - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

#########
## SCALING / ROLLOUT
######

replicaCount: 1

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCpu: 70

pdb:
  maxUnavailable: 1
  # minAvailable: 1

rollingUpdate:
  maxSurge: 1
